body{
    align-items: center;
}

img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

button{
    color: black;
    background-color: aqua;
    padding: 15px;
    margin: 15px;
}